flows/DJ_Flow_Approval.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "name": "DJ_Flow_Approval",
    "description": "Document Journey - Approval step flow. Sends styled email notification and Adaptive Card with Approve/Reject buttons via Teams, waits for response, checks CompletionRule, updates DJ_StepHistory, and advances or rejects the journey.",
    "version": "2.0.0",
    "notes": "Uses custom approvals via Adaptive Cards (NOT native PA approvals) to avoid 30-day expiry limitation on long-running workflows."
  },
  "parameters": {
    "SharePointSiteUrl": {
      "type": "String",
      "defaultValue": ""
    },
    "SearchSiteUrl": {
      "type": "String",
      "defaultValue": "",
      "metadata": { "description": "SharePoint site URL for the search/tasks hub" }
    },
    "StepHistoryListName": {
      "type": "String",
      "defaultValue": "DJ_StepHistory"
    },
    "HistoryListName": {
      "type": "String",
      "defaultValue": "DJ_History"
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "historyId": { "type": "integer" },
            "stepOrder": { "type": "integer" },
            "stepType": { "type": "string" },
            "stepName": { "type": "string" },
            "documentUrl": { "type": "string" },
            "documentName": { "type": "string" },
            "journeyName": { "type": "string" },
            "siteUrl": { "type": "string" }
          },
          "required": ["historyId", "stepOrder"]
        }
      }
    }
  },
  "actions": {
    "Get_Step_History_Record": {
      "type": "ApiConnection",
      "runAfter": {},
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" } },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(parameters('SharePointSiteUrl'))}/tables/@{encodeURIComponent(parameters('StepHistoryListName'))}/items",
        "queries": {
          "$filter": "HistoryId eq @{triggerBody()?['historyId']} and StepOrder eq @{triggerBody()?['stepOrder']}"
        }
      }
    },
    "Get_History_Record": {
      "type": "ApiConnection",
      "runAfter": { "Get_Step_History_Record": ["Succeeded"] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" } },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(parameters('SharePointSiteUrl'))}/tables/@{encodeURIComponent(parameters('HistoryListName'))}/items/@{triggerBody()?['historyId']}"
      }
    },
    "Send_Email_Approval_Request": {
      "type": "ApiConnection",
      "runAfter": { "Get_History_Record": ["Succeeded"] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "To": "@{body('Get_Step_History_Record')?['value']?[0]?['AssignedTo']?['Email']}",
          "Subject": "Approval Required: @{triggerBody()?['journeyName']} - @{triggerBody()?['stepName']}",
          "Body": "<div style=\"font-family:'Segoe UI',Arial,sans-serif; max-width:600px; margin:0 auto; color:#333\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 12px 0\"><tr><td style=\"background:#e8a317; color:#fff; font-weight:600; padding:4px 12px; border-radius:9999px; font-size:14px; line-height:18px; display:inline-block\">Approval Required</td></tr></table><p><strong>You have an approval request awaiting your decision.</strong><br>Please review the document and approve or reject via Teams.</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #ddd; border-radius:6px; margin-top:10px\"><tr><td style=\"background:#f4f4f4; font-size:16px; font-weight:600; padding:14px; border-bottom:1px solid #ddd\">Approval Details</td></tr><tr><td style=\"padding:16px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"padding:5px 0; vertical-align:top; width:160px\">Step Name:</td><td style=\"padding:5px 0; vertical-align:top\"><strong>@{triggerBody()?['stepName']}</strong></td></tr><tr><td colspan=\"2\" style=\"height:20px; line-height:20px\">&nbsp;</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Journey:</td><td style=\"padding:5px 0; vertical-align:top\">@{triggerBody()?['journeyName']}</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Document:</td><td style=\"padding:5px 0; vertical-align:top\"><a href=\"@{triggerBody()?['documentUrl']}\" style=\"color:#e8a317\">@{triggerBody()?['documentName']}</a></td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Site:</td><td style=\"padding:5px 0; vertical-align:top\"><a href=\"@{triggerBody()?['siteUrl']}\" style=\"color:#e8a317\">@{triggerBody()?['siteUrl']}</a></td></tr><tr><td colspan=\"2\" style=\"height:20px; line-height:20px\">&nbsp;</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Initiated By:</td><td style=\"padding:5px 0; vertical-align:top\">@{body('Get_History_Record')?['InitiatedBy']?['Title']}</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Assigned To:</td><td style=\"padding:5px 0; vertical-align:top\">@{body('Get_Step_History_Record')?['value']?[0]?['AssignedTo']?['Title']}</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Due Date:</td><td style=\"padding:5px 0; vertical-align:top\">@{if(empty(body('Get_Step_History_Record')?['value']?[0]?['DueDate']), 'No due date', formatDateTime(body('Get_Step_History_Record')?['value']?[0]?['DueDate'], 'dd/MM/yyyy'))}</td></tr></table></td></tr><tr><td style=\"background:#f4f4f4; font-size:16px; font-weight:600; padding:14px; border-bottom:1px solid #ddd; border-top:1px solid #ddd\">Action Required</td></tr><tr><td style=\"padding:16px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"padding:5px 0; vertical-align:top; width:160px\">Status:</td><td style=\"padding:5px 0; vertical-align:top\">Awaiting Your Decision</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">How to Respond:</td><td style=\"padding:5px 0; vertical-align:top\">Open the Adaptive Card sent to you in Microsoft Teams to Approve or Reject.</td></tr></table></td></tr></table><div style=\"margin:30px 0\">To view all your tasks: <a href=\"@{parameters('SearchSiteUrl')}/SitePages/Tasks.aspx\" style=\"color:#e8a317\">Click here</a></div><hr style=\"border:none; border-top:1px solid #eee; margin:24px 0\"><p style=\"color:#666\"><i>This is an automated notification. Do not reply to this email.<br>If you believe you received this in error, contact the journey initiator.</i></p></div>",
          "IsHtml": true
        }
      }
    },
    "Post_Adaptive_Card_to_Teams": {
      "type": "ApiConnection",
      "runAfter": { "Get_History_Record": ["Succeeded"] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['teams']['connectionId']" } },
        "method": "post",
        "path": "/v1.0/teams/adaptivecards/wait",
        "body": {
          "recipient": {
            "to": "@{body('Get_Step_History_Record')?['value']?[0]?['AssignedTo']?['Email']}"
          },
          "messageBody": "{\"type\":\"AdaptiveCard\",\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"version\":\"1.4\",\"body\":[{\"type\":\"TextBlock\",\"text\":\"Approval Required\",\"weight\":\"Bolder\",\"size\":\"Medium\"},{\"type\":\"TextBlock\",\"text\":\"@{triggerBody()?['journeyName']} - @{triggerBody()?['stepName']}\",\"wrap\":true},{\"type\":\"TextBlock\",\"text\":\"Document: @{triggerBody()?['documentName']}\",\"wrap\":true},{\"type\":\"Input.Text\",\"id\":\"comments\",\"placeholder\":\"Add comments (optional)\",\"isMultiline\":true}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Approve\",\"data\":{\"action\":\"Approved\"}},{\"type\":\"Action.Submit\",\"title\":\"Reject\",\"data\":{\"action\":\"Rejected\"}}]}",
          "updateMessage": "Response submitted"
        }
      }
    },
    "Process_Response": {
      "type": "Switch",
      "runAfter": { "Post_Adaptive_Card_to_Teams": ["Succeeded"] },
      "expression": "@body('Post_Adaptive_Card_to_Teams')?['data']?['action']",
      "cases": {
        "Approved": {
          "case": "Approved",
          "actions": {
            "Update_Step_Approved": {
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" } },
                "method": "patch",
                "path": "/datasets/@{encodeURIComponent(parameters('SharePointSiteUrl'))}/tables/@{encodeURIComponent(parameters('StepHistoryListName'))}/items/@{body('Get_Step_History_Record')?['value']?[0]?['ID']}",
                "body": {
                  "Status": "Completed",
                  "ActionDate": "@{utcNow()}",
                  "Comments": "@{body('Post_Adaptive_Card_to_Teams')?['data']?['comments']}"
                }
              }
            },
            "Advance_After_Approval": {
              "type": "Http",
              "runAfter": { "Update_Step_Approved": ["Succeeded"] },
              "inputs": {
                "method": "POST",
                "uri": "REPLACE_WITH_ADVANCE_LOGIC_URL",
                "body": {
                  "historyId": "@{triggerBody()?['historyId']}",
                  "stepOrder": "@{triggerBody()?['stepOrder']}",
                  "documentUrl": "@{triggerBody()?['documentUrl']}",
                  "documentName": "@{triggerBody()?['documentName']}",
                  "journeyName": "@{triggerBody()?['journeyName']}",
                  "siteUrl": "@{triggerBody()?['siteUrl']}"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT5S",
                  "maximumInterval": "PT2M"
                }
              }
            }
          }
        },
        "Rejected": {
          "case": "Rejected",
          "actions": {
            "Update_Step_Rejected": {
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" } },
                "method": "patch",
                "path": "/datasets/@{encodeURIComponent(parameters('SharePointSiteUrl'))}/tables/@{encodeURIComponent(parameters('StepHistoryListName'))}/items/@{body('Get_Step_History_Record')?['value']?[0]?['ID']}",
                "body": {
                  "Status": "Rejected",
                  "ActionDate": "@{utcNow()}",
                  "Comments": "@{body('Post_Adaptive_Card_to_Teams')?['data']?['comments']}"
                }
              }
            },
            "Mark_Journey_Rejected": {
              "type": "ApiConnection",
              "runAfter": { "Update_Step_Rejected": ["Succeeded"] },
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" } },
                "method": "patch",
                "path": "/datasets/@{encodeURIComponent(parameters('SharePointSiteUrl'))}/tables/@{encodeURIComponent(parameters('HistoryListName'))}/items/@{triggerBody()?['historyId']}",
                "body": {
                  "Status": "Rejected",
                  "CompletedDate": "@{utcNow()}"
                }
              }
            },
            "Send_Rejection_Email_To_Initiator": {
              "type": "ApiConnection",
              "runAfter": { "Mark_Journey_Rejected": ["Succeeded"] },
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "@{body('Get_History_Record')?['InitiatedBy']?['Email']}",
                  "Subject": "Journey Rejected: @{triggerBody()?['journeyName']} - @{triggerBody()?['documentName']}",
                  "Body": "<div style=\"font-family:'Segoe UI',Arial,sans-serif; max-width:600px; margin:0 auto; color:#333\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 12px 0\"><tr><td style=\"background:#a4262c; color:#fff; font-weight:600; padding:4px 12px; border-radius:9999px; font-size:14px; line-height:18px; display:inline-block\">Journey Rejected</td></tr></table><p><strong>A document journey you initiated has been rejected.</strong><br>The approver has declined at the step shown below.</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #ddd; border-radius:6px; margin-top:10px\"><tr><td style=\"background:#f4f4f4; font-size:16px; font-weight:600; padding:14px; border-bottom:1px solid #ddd\">Rejection Details</td></tr><tr><td style=\"padding:16px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"padding:5px 0; vertical-align:top; width:160px\">Journey:</td><td style=\"padding:5px 0; vertical-align:top\"><strong>@{triggerBody()?['journeyName']}</strong></td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Document:</td><td style=\"padding:5px 0; vertical-align:top\"><a href=\"@{triggerBody()?['documentUrl']}\" style=\"color:#a4262c\">@{triggerBody()?['documentName']}</a></td></tr><tr><td colspan=\"2\" style=\"height:20px; line-height:20px\">&nbsp;</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Rejected Step:</td><td style=\"padding:5px 0; vertical-align:top\">@{triggerBody()?['stepName']} (Step @{triggerBody()?['stepOrder']})</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Rejected By:</td><td style=\"padding:5px 0; vertical-align:top\">@{body('Get_Step_History_Record')?['value']?[0]?['AssignedTo']?['Title']}</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Rejected Date:</td><td style=\"padding:5px 0; vertical-align:top\">@{formatDateTime(utcNow(), 'dd/MM/yyyy hh:mm tt')}</td></tr><tr><td colspan=\"2\" style=\"height:20px; line-height:20px\">&nbsp;</td></tr><tr><td style=\"padding:5px 0; vertical-align:top\">Comments:</td><td style=\"padding:5px 0; vertical-align:top\">@{if(empty(body('Post_Adaptive_Card_to_Teams')?['data']?['comments']), 'No comments provided.', body('Post_Adaptive_Card_to_Teams')?['data']?['comments'])}</td></tr></table></td></tr></table><div style=\"margin:30px 0\">To view all your journeys: <a href=\"@{parameters('SearchSiteUrl')}/SitePages/Tasks.aspx\" style=\"color:#a4262c\">Click here</a></div><hr style=\"border:none; border-top:1px solid #eee; margin:24px 0\"><p style=\"color:#666\"><i>This is an automated notification. Do not reply to this email.<br>If you believe you received this in error, contact the approver directly.</i></p></div>",
                  "IsHtml": true
                }
              }
            }
          }
        }
      },
      "default": {
        "actions": {}
      }
    },
    "Response": {
      "type": "Response",
      "runAfter": { "Process_Response": ["Succeeded"] },
      "inputs": {
        "statusCode": 200,
        "body": { "status": "processed" }
      }
    }
  }
}
